@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.rad-icon {
  fill: red; /* Change to any color */
  width: 30px;
  height: 30px;
}

@keyframes arrowPulseFade {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  15% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(4px);
  }
  45% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-6px);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-12px);
  }
}